<div class="wrapper">
    <ul class="article-list">
    <% @articles.each do |article| %>
        <li class="article">
            <h1><%= link_to article.title, article.source_url, :target => "_blank" %></h1>
            <div class="article-categories">
            <% article.category_list.each do |category| %>
                <span class="article-category">
                    <%=raw link_to category, category_path(category) %></span>
            <% end %>
            </div>
            <p><%= article.body %></h1>
        </li>
    <% end %>
    </ul>
</div>
