/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require jquery.ui.datepicker
*= require_tree .
*/
@import "bootstrap_configuration";
@import "bootstrap";

h1, h2, h3, h4, h5, ul, ol, li, p, div {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* ------------- */
/* Articles List */
/* ------------- */

.article-list {
    list-style: none;
}

.article {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.article h1 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.article h1:hover {
    color: #555;
}

.article-info {
    margin: 15px 0;
}

.article-authors a, .article-date, .article-publisher a {
    color: #333;
}

.article-date, .article-publisher a {
    padding: 0 5px;
}

.article-authors a {
    padding: 0 5px 0 0;
}

.article-category {
    color: #AAAAAA;
}

.article-category:after {
    content: " | ";
    color: #CCCCCC;
}

.article-category:last-child:after {
    content: "";
}
